{% extends 'base.html' %}

{% from "bootstrap5/form.html" import render_form %}

{% block header %}{% endblock %}

{% block content %}

<main style="margin-top: 70px;">
    <form method="post" action="{{ url_for('main.buy', event_id=event.id)}}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <h1 style="text-align: center;">Purchase Tickets</h1>

    <div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="row">
            <div class="col-md-3 col-12">
                <img class="card-img-top"
                              src="{{ event.image }}" alt="event picture">
            </div>
            <div class="col-4 grid-item">
                <div class="form-group-details">
                    <label for="numTicket">Number of Tickets:</label>
                    {{ form.num_tickets() }}
                </div><br>
                <h6><b>1x</b> Ticket to Beginner Painting Lessons</h6>
                <h6 class="justify-tex t"><b>Total: </b><span class="price">$100</span></h6>
            </div>
            <div class="col-5 grid-item">
                <p class="justify-text"><span style="font-weight: 600;">Event: </span>{{ event.name }}</p>

                <p class="justify-text"><span style="font-weight: 600;">Located at: </span>{{ event.location }}</p>
                <p class="justify-text"><span style="font-weight: 600;">Start Time: </span>{{ tickets.start_time }}, {{ tickets.start_date.strftime('%B %d, %Y') }}</p>
                <p class="justify-text"><span style="font-weight: 600;">End Time: </span>{{ tickets.end_time }}, {{ tickets.end_date.strftime('%B %d, %Y') }}</p>
                <p class="justify-text" style="font-weight: 600;">Price per Ticket: <span class="price">${{ tickets.price }}</p>
                <p class="justify-text"><span style="font-weight: 600;">Tickets left: </span><b>{{ num_tickets }}</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="row">
                        <div class="form-row">
                            <div class="form-group" style="width: 48%;">
                                <label for="fname"><b>First name:</b></label>
                                {{ current_user.fname }}
                            </div>
                            <div class="form-group">
                                <label for="lname"><b>Last name:</b></label>
                                {{ current_user.lname }}
                            </div>
                        </div>
                </div>
                <div class="row">
                        <div class="form-group">
                        <label for="email"><b>Email:</b></label>
                        {{ current_user.emailid }}
                    </div>
                </div>
                <div class="row">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="phone"><b>Phone:</b></label>
                                {{ current_user.number }}
                            </div>
                            <div class="form-group">
                                <label for="cdetails"><b>Card Details:</b></label>
                                {{ form.card() }}
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-3 col-12" style="margin-top: 7%; margin-right: 7%;">
                <div>
                    <button class="btn btn-warning w-50 p-3" type="submit" id="placeOrder">Place Order</button><br>
                    <small>By selecting <b>Place Order,</b> you are agreeing to Hobby Crunch's <a href="#">Terms and Conditions</a></small>
                </div>
            </div>
        </div>
    </div>
    </form>
</main> 

{% endblock %}