<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Hobby Crunch</title>
    <link rel="stylesheet" href="static/style/styles.css">

    <!-- navbar-brand font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Joti+One&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-orange">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Hobby Crunch</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <a href="manageTickets.html" class="btn nav-btn ms-2">My Tickets</a>
                        <a href="myEvents.html" class="btn nav-btn ms-2">My Events</a>
                        <a href="#" class="btn nav-btn ms-2"><u>Username</u></a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main style="margin-top: 70px;">

        <h1 style="text-align: center;">My Event</h1>

        <div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="row">
                <div class="col-md-2 col-12">
                    <div class="row">
                        <input type="image" src="static/img/painting.jpg" alt="SubmitImage" name="upImage" id="upImage"
                            style="float:right">
                    </div>
                    <div class="row">
                        <p style="text-align: right;">upload image</p>
                    </div>
                </div>
                <div class="col-4 grid-item">
                    <form>
                        <div class="group">
                            <label for="eName">Event Name:</label>
                            <input type="text" id="eName" name="eName" value="Beginner Painting Lessons"><br>
                        </div>
                        <div class="group">
                            <label for="email">Email:</label>
                            <input type="text" id="email" name="email" value="amandawhite@fakeemail.com"><br>
                        </div>
                        <div class="group">
                            <label for="location">Location:</label>
                            <input type="text" id="location" name="location" value="123 Art Rd"><br>
                        </div>
                        <div class="group">
                            <label for="Activity">Activity:</label>
                            <select id="Activity" name="Activity">
                                <option value="Arts">Arts & Craft</option>
                                <option value="Sports">Sports & Fitness</option>
                                <option value="Music">Music</option>
                                <option value="bGames">Board Games</option>
                                <option value="eGames">Electronic Games</option>
                                <option value="Education">Education</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-5 grid-item">
                    <div class="group">
                        <label for="hexp">Event Description:</label>
                        <textarea style="resize: none; height: 200px;" type="text" id="hexp"
                            name="hexp">Join us for this drop-in adult art workshop suitable for all skill levels. Spend the afternoon trying something new and having fun!</textarea>
                    </div>
                    <br>
                    <label>Experience Required:</label>
                    <details>
                        <summary>Experience</summary>
                        <ul style="list-style: none; columns: 2;">
                            <li>
                                <label><input type="checkbox" name="fc" value="Beginner" checked> Beginner</label>
                            </li>
                            <li>
                                <label><input type="checkbox" name="fc" value="Intermediate" checked> Intermediate</label>
                            </li>
                            <li>
                                <label><input type="checkbox" name="fc" value="Advanced"> Advanced</label>
                            </li>
                            <li>
                                <label><input type="checkbox" name="fc" value="Expert"> Expert</label>
                            </li>
                        </ul>
                    </details>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="row">
                        <form>
                            <div class="group">
                                <label for="hname">Host's Full Name:</label>
                                <input type="text" id="hname" name="hname" value="Amanda White">
                            </div>
                            <div class="group">
                                <label for="hexp">Host's Experience:</label>
                                <textarea style="resize: none; height: 200px;" type="text" id="hexp"
                                    name="hexp">I've been enjoying painting as a hobby for the last 7 years.</textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="form-row">
                            <div class="group" style="width: 30%;">
                                <label for="avaTicket">Tickets Avaliable:</label>
                                <input type="number" id="avaTicket" name="avaTicket" value="15" min="0">
                            </div>
                            <div class="group" style="width: 30%;">
                                <label for="ticketPrice">Price per Ticket:</label>
                                <input type="number" id="ticketPrice" name="ticketPrice" value="100" min="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-row">
                            <div class="group" style="width: 40%;">
                                <label for="sDate">Start Date:</label>
                                <input type="date" id="sDate" name="sDate" value="2024-09-16">
                            </div>
                            <div class="group" style="width: 40%;">
                                <label for="eDate">End Date:</label>
                                <input type="date" id="eDate" name="eDate" value="2024-09-16">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-row">
                            <div class="group" style="width: 40%;">
                                <label for="sTime">Start Time:</label>
                                <input type="time" id="sTime" name="sTime" value="09:00">
                            </div>
                            <div class="group" style="width: 40%;">
                                <label for="eTime">End Time:</label>
                                <input type="time" id="eTime" name="eTime" value="12:00">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-row">
                            <div class="group" style="width: 60%;">
                                <label for="hPhone">Host's Phone:</label>
                                <input type="text" id="hPhone" name="hPhone" value="+61 0123 456 789">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-12" style="margin-top: 7%; margin-left: 2%;">
                    <div>
                        <a href="myEvents.html">
                            <input class="btn btn-success w-75 p-3" type="submit" value="Update Event">
                        </a>
                        <br>
                        <small>By selecting <b>Update Event,</b> you are agreeing to Hobby Crunch's <a href="#">Terms
                                and
                                Conditions</a></small>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Footer -->
    <footer>
        <div>
            <ul class="d-flex flex-wrap justify-content-center p-1" style="list-style-type: none;">
                <li class="px-2" style="border-right: 1px solid rgb(0, 0, 0)">
                    <a href="#">Contact</a>
                </li>
                <li class="px-2" style="border-right: 1px solid rgb(0, 0, 0)">
                    <a href="#">About</a>
                </li>
                <li class="px-2" style="border-right: 1px solid rgb(0, 0, 0)">
                    <a href="#">Privacy Policy</a>
                </li>
                <li class="px-2" style="border-right: 1px solid rgb(0, 0, 0)">
                    <a href="#">Conditions of Use</a>
                </li>
                <li class="px-2">
                    <a href="#">Developers</a>
                </li>
            </ul>
        </div>
        © 2024 Hobby Crunch
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>